*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    --ff-primary: 'Source Sans Pro', sans-serif;
    --ff-secondary: 'Source Code Pro', monospace;
    --ff-ternary: 'Jost', sans-serif;

    --fw-reg: 300;
    --fw-bold: 900;

    --clr-light: #fff;
    --clr-dark: #303030;
    --clr-accent: #30124d;
    --clr-bright: #592b85;
    --clr-superbright: #d7b0fc;

    --fs-h1: 3rem;
    --fs-h2: 2.25rem;
    --fs-h3: 1.25rem;
    --fs-body: 1rem;
    --fs-icons: 2rem;
    --fs-navbar: 1.1rem;

    --shadow: .25em .25em .75em rgba(0, 0, 0, 0.5);
}

/* increase font sizes when the window is large */
@media (min-width: 900px) {
    :root {
        --fs-h1: 4.5rem;
        --fs-h2: 3.75rem;
        --fs-h3: 1.5rem;
        --fs-body: 1.125rem;
        --fs-icons: 2.25rem;
        --fs-navbar: 1.25rem;
    }
}

body {
    background: var(--clr-light);
    color: var(--clr-dark);
    margin: 0; 
    font-family: var(--ff-primary);
    font-size: var(--fs-body);
    line-height: 1.6;
}

img {
    display: block;
    max-width: 100%;
}

section {
    padding: 3em 2em;
}

/* Setting up font sizes and colors */

h1, h2, h3 {
    line-height: 1;
    margin: 0;
}

strong {
    font-weight: var(--fw-bold);
}

h1 {
    font-size: var(--fs-h1);
}

h2 {
    font-size: var(--fs-h2);
}

h3 {
    font-size: var(--fs-h3);
}

.intro {
    max-width: 475px; 
    margin-left: auto;
    margin-right: auto;
}

.intro-title {
    margin-bottom: 0.25em;
    align-content: center;
    text-align: center;
    font-weight: var(--fw-reg);
}

.intro-title strong { /* put the bolded text (name) below introduction */
    display: block;
}

.intro-subtitle {
    margin: 0;
    font-size: var(--fs-h3);
    background: var(--clr-accent);
    font-family: var(--ff-secondary);
    color: var(--clr-light);
    padding: 1em;
    margin-bottom: 1em;
    text-align: center;

}

.intro-img {
    box-shadow: var(--shadow);
    
}

/* rearange things when screen size is big enough */
/* this handles responsiveness for mobile/desktop */
@media (min-width: 700px) {
    .intro {
        display: grid;
        grid-column-gap: 1em;
        max-width: min-content;
        width: min-content;
        margin: 0 auto;
        grid-template-areas:
        "img title"
        "img subtitle";
        grid-template-columns: min-content max-content;

    }

    .intro-title {
        text-align: center;
        padding-bottom: 0;
        margin-top: 0.25em;
    }

    .intro-subtitle {
        text-align: center;
        display: inline-block;
        height: min-content;
        padding-top: 1.75em;
        padding-bottom: 1.75em;
        
    }

    .intro-img {
        grid-area: img;
        min-width: 250px;
        height: auto;
    }

}

/* Resize picture at large screen sizes */
@media (min-width: 900px) {
    .intro-img {
        min-width: 300px;
    }
}

.header-part {
    margin: 0;
    float: left;
    max-height: 50px;
    min-height: 50px;
}

/* Navigation bar */

.mobile-header {
    top: 0;
    position: sticky;
}

.gradient {
    height: 4px;
    margin: 0;
    border: 0;
    background-image: linear-gradient(to right, purple,rgb(24, 146, 228), magenta);
}

.nav-list {
    margin: 0;
    background-color: var(--clr-light);
    background-color: rgba(255, 255, 255, 0.9);
    overflow: hidden;
    list-style-type: none;
    height: 50px;
    line-height: 50px;
    display: block;
}

.nav-list li a {
    float: left;
    color: var(--clr-dark);
    text-align: center;
    padding: 0px 16px;
    text-decoration: none;
    font-size: var(--fs-navbar);
    font-family: var(--ff-ternary);
    margin: 0;
}

.nav-list .social_item a i {
    color: var(--clr-dark);
    vertical-align: middle;
    text-align: center;
    padding: 0px 16px;
    text-decoration: none;
    font-size: var(--fs-icons);
    margin: 0;
}

.nav-list .social_item a {
    float: right;
}

.nav-list li a:hover, .nav-list li a i:hover {
    color: var(--clr-bright);
}

/* Hide GitHub and LinkedIn icons at small screen sizes */
@media (max-width: 700px) {
    .nav-list .social_item a {
        display: none;
    }

    .nav-list {
        display: flex;
        justify-content: space-evenly;
    }
}


/* About section */

.about {
    background-color: #3f3f3f;
    background-image: url("../img/mfa.jpg");
    background-size: cover;
    background-blend-mode: multiply;
    text-align: left;
}

.abt-title {
    text-align: center;
}
.abt-sections, .abt-title {
    color: var(--clr-light);
}

.abt-title::after {
    content: '';
    display: block;
    width: 25%;
    height: 1px;
    margin: 0.5em auto 1em;
    background: var(--clr-light);
    opacity: 0.5;
}

@media (min-width: 800px) {
    .abt-sections {
        max-width: 1100px;
        margin: 0 auto;
    }
    
    .abt-section + .abt-section {
        margin-bottom: 2em;
    }
}

/* when links are hovered over, change color */
.socials li a i:hover {
    color: var(--clr-superbright);
}

/* contact section style */
.contact {
    background-color: #3f3f3f;
    background-image: url("../img/christianss.jpg");
    background-size: cover;
    background-blend-mode: multiply;
    background-position: center;
    text-align: left;
}

.contact-title {
    text-align: center;
}
.contact-sections, .contact-title {
    color: var(--clr-light);
}

.contact-title::after {
    content: '';
    display: block;
    width: 25%;
    height: 1px;
    margin: 0.5em auto 1em;
    background: var(--clr-light);
    opacity: 0.5;
}

.socials {
    list-style-type: none;
    display: inline;
    justify-content: center;
    text-align: center;
}

.socials .social_item a {
    text-decoration: none;
    font-size:var(--fs-h3);
}

.socials li a i {
    font-size: var(--fs-icons);
    color: var(--clr-light);
    margin: 0.5em 1.25em;
}

/* when links are hovered over, change color */
.socials li a i:hover {
    color: var(--clr-superbright);
}

@media (min-width: 800px) {
    .contact-sections {
        max-width: 1100px;
        margin: 0 auto;
    }
    
    .contact-section {
        margin-bottom: 4em;
    }

    .contact-section + .contact-section {
        margin-bottom: 2em;
    }

    .socials {
        display: flex;
    }
}

@media (min-width: 1100px) {
    .socials li a i {
        margin: 0 2em;
    }
}

/* resume page styling */
.resume-frame {
    margin: 1em 1em;
    width: calc(100% - 2em);
    height: 85vh;
}